@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1731222045370') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e641";
}

.icon-yasuowenjian-zip_rar_7z:before {
  content: "\e6f1";
}

.icon-guangpan:before {
  content: "\e748";
}

.icon-a-014_jilu:before {
  content: "\e648";
}

.icon-a-014_xiazai:before {
  content: "\e64d";
}

